# --- SkiaHelios Critical Logic Filter ---
.env
*.pem
*.key
id_rsa
id_ed25519

# Artifacts & Temporary Files
/*.csv
/*.log
/*.txt
/*.docx
!/README.md
!/requirements.txt
fol.txt

# External Repositories (Sigma)
/sigma/

# Output Folders
Helios_Output/
TestCase/
TEST_ZONE_HELIOS/
Mock_TwinSnakes/
/output/

# Python Cache & Env
**/__pycache__/
*.py[cod]
.venv/
venv/
env/
